[Bb]in
[Bb]uild
[Dd]ebug
[Dd]ist
[Oo]bj
[Oo]ld
[Rr]elease
*.bak
*.cache
*.docstates
*.nupkg
*.pdb
*.suo
*.user
desktop.ini
_ReSharper.*
# shared files taken from elsewhere in the environment
